<!DOCTYPE html>
<html lang="en" ng-app="Css">
<meta charset="utf-8">

<style>
.node {
	stroke: #fff;
	stroke-width: 1.5px;
}

.link {
	stroke: #999;
	stroke-opacity: .6;
}
</style>
<head>
<!-- Bootstrap -->
<link href="css/bootstrap.css" rel="stylesheet" media="screen">
<script src="js/lib/jquery-1.8.3.js"></script>
<script src="js/lib/bootstrap.min.js"></script>
<script src="js/lib/angular.js"></script>
<script src="js/lib/ui-bootstrap-tpls-0.2.0.js"></script>
<script src="js/lib/jquery-1.8.3.js"></script>
<script src="js/lib/jquery.json-2.4.min.js"></script>
<script src="js/lib/json2.js"></script>
<script src="js/d3.v3.min.js"></script>
<script src="js/css.js"></script>
<script>
	
</script>
</head>
<body>
	<form novalidate ng-controller='RelationCtrl'
		class="navbar-form">
		<input class="span4" type="text" ng-model="id"   placeholder="744133ea-78e3-43ab-a173-e4ccdd77374e">
		<button type="submit" class="btn" ng-click="findRelation(id)" >Find Relation</button>
		<input class="span4" type="text" ng-model="userName"  placeholder="Vagou">
		<button type="submit" class="btn" ng-click="findPerson(userName)">Find  contacts</button>
		<input class="span4" type="text" ng-model="queryStr" placeholder="Vagou who I always have meeting with"></input>
		<button type="submit" class="btn" ng-click="findRelatedPerson(queryStr)">Find Related contacts</button>
	</form>
	<div id="pie"></div>
</body>
</html>

